#character-count {
	width: 500px;
}

.slider-tick-label {
	font-size: 60%;
}

#header {
	margin-bottom: 1cm;
}

.form-row {
	height: 2cm;
}

.form-label {
	font-size: 120%;
	font-family: sans-serif;
}

#btn-generate {
	width: 100px;
}

.word-score {
	padding-right: 2mm;
}

.word-string {
    text-transform: capitalize;
    font-weight: bold;
}