.slider-tick-label {
	font-size: 60%;
}

#header {
	margin-bottom: 1cm;
	margin-top: 5mm;
}

.form-row {
	height: 2cm;
}

.form-label {
	font-size: 120%;
	font-family: sans-serif;
}

#btn-generate {
	width: 100px;
}

.word-score {
	padding-right: 2mm;
}

.word-string {
	text-transform: capitalize;
	font-weight: bold;
	height: 32px;
}

.word-status {
	height: 32px;
}

.word-button {
	height: 32px;
}

#selected-words {
	display: none;
}

#selection-tools {
	margin-bottom: 10mm;
}

#btn-export {
	width: 100px;
	height: 34px;
}

.chart {
	font-size: 60%;
}

.btn-sort {
	font-size: 80%;
}

.word-set {
	margin-bottom: 5mm;
}

.word-container {
	padding-top: 2mm;
}

#container-validated {
	background-color: #CCCCCC;
	min-height: 26mm;
	border-radius: 3mm;
}
